[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyquery = "*"
selenium = "*"
lxml = "*"
datetime = "*"
bs4 = "*"
pandas = "*"
jieba = "*"
matplotlib = "*"
wordcloud = "*"

[dev-packages]

[requires]
python_version = "3.9"
